# Build outputs
Debug/
Release/
x64/
x86/
*.obj
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.pch
*.idb
*.ipch
*.res
*.log
*.tlog
*.lastbuildstate
*.recipe
*.iobj
*.ipdb

# Visual Studio
.vs/
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/

# Backup files
*.bak
*.tmp
~$*

# Resource editor
*.aps

# Screenshots (temp)
screenshot_*.png
