// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(65001)

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END
2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END
3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_SPLITTER_RESOURCES\r\n"
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)\r\n"
    "LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT\r\n"
    "#pragma code_page(65001)\r\n"
    "#include ""res\\LightController.rc2""\r\n"
    "#include ""afxres.rc""\r\n"
    "#endif\r\n"
    "\0"
END
#endif

IDR_MAINFRAME           ICON                    "res\\LightController.ico"

IDD_LIGHTCONTROLLER_DIALOG DIALOGEX 0, 0, 750, 510
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "IMS-DS-16 조명 컨트롤러"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    // === 시리얼 포트 ===
    GROUPBOX        "시리얼 포트",IDC_STATIC,7,4,736,30
    LTEXT           "COM:",IDC_STATIC,15,17,18,8
    COMBOBOX        IDC_CMB_PORT,35,15,65,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "연결",IDC_BTN_CONNECT,108,14,35,14
    PUSHBUTTON      "해제",IDC_BTN_DISCONNECT,148,14,35,14
    PUSHBUTTON      "검색",IDC_BTN_REFRESH_PORT,188,14,35,14
    PUSHBUTTON      "자동찾기",IDC_BTN_AUTO_FIND,228,14,40,14
    LTEXT           "미연결",IDC_STC_STATUS,278,17,200,8

    // === ON TIME 설정 (페이지별) ===
    GROUPBOX        "ON TIME 설정 (페이지별)",IDC_STATIC,7,38,420,175
    CONTROL         "DS-16 확장",IDC_RADIO_DS16,"Button",BS_AUTORADIOBUTTON | WS_GROUP,15,51,55,10
    CONTROL         "LS-12 호환",IDC_RADIO_LS12,"Button",BS_AUTORADIOBUTTON,75,51,55,10
    LTEXT           "Max Page:",IDC_STATIC,145,53,38,8
    EDITTEXT        IDC_EDT_MAXPAGE,185,50,25,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_MAXPAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,200,50,11,14
    LTEXT           "Page:",IDC_STATIC,225,53,22,8
    EDITTEXT        IDC_EDT_CURPAGE,250,50,25,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_CURPAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,265,50,11,14
    LTEXT           "반복:",IDC_STATIC,295,53,22,8
    EDITTEXT        IDC_EDT_REPEAT,320,50,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_REPEAT,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,330,50,11,14

    LTEXT           "CH",IDC_STATIC,18,66,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,38,66,42,8
    LTEXT           "CH",IDC_STATIC,118,66,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,138,66,42,8

    RTEXT           "01",IDC_STATIC,15,79,10,8
    EDITTEXT        1100,30,77,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1200,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,77,11,13
    RTEXT           "02",IDC_STATIC,15,94,10,8
    EDITTEXT        1101,30,92,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1201,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,92,11,13
    RTEXT           "03",IDC_STATIC,15,109,10,8
    EDITTEXT        1102,30,107,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1202,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,107,11,13
    RTEXT           "04",IDC_STATIC,15,124,10,8
    EDITTEXT        1103,30,122,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1203,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,122,11,13
    RTEXT           "05",IDC_STATIC,15,139,10,8
    EDITTEXT        1104,30,137,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1204,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,137,11,13
    RTEXT           "06",IDC_STATIC,15,154,10,8
    EDITTEXT        1105,30,152,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1205,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,152,11,13
    RTEXT           "07",IDC_STATIC,15,169,10,8
    EDITTEXT        1106,30,167,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1206,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,167,11,13
    RTEXT           "08",IDC_STATIC,15,184,10,8
    EDITTEXT        1107,30,182,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1207,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,182,11,13

    RTEXT           "09",IDC_STATIC,115,79,10,8
    EDITTEXT        1108,130,77,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1208,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,77,11,13
    RTEXT           "10",IDC_STATIC,115,94,10,8
    EDITTEXT        1109,130,92,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1209,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,92,11,13
    RTEXT           "11",IDC_STATIC,115,109,10,8
    EDITTEXT        1110,130,107,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1210,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,107,11,13
    RTEXT           "12",IDC_STATIC,115,124,10,8
    EDITTEXT        1111,130,122,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1211,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,122,11,13
    RTEXT           "13",IDC_STATIC,115,139,10,8
    EDITTEXT        1112,130,137,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1212,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,137,11,13
    RTEXT           "14",IDC_STATIC,115,154,10,8
    EDITTEXT        1113,130,152,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1213,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,152,11,13
    RTEXT           "15",IDC_STATIC,115,169,10,8
    EDITTEXT        1114,130,167,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1214,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,167,11,13
    RTEXT           "16",IDC_STATIC,115,184,10,8
    EDITTEXT        1115,130,182,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1215,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,182,11,13

    LTEXT           "All ON TIME:",IDC_STATIC,210,79,44,8
    EDITTEXT        1116,258,77,45,13,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "일괄적용",1400,310,77,50,14

    PUSHBUTTON      "전체 전송",IDC_BTN_SEND_ALL,15,196,70,14
    PUSHBUTTON      "데이터 저장",IDC_BTN_SAVE_DATA,90,196,70,14

    // === 배수 설정 (전 페이지 공통) ===
    GROUPBOX        "배수 설정 (전 페이지 공통)",IDC_STATIC,7,216,420,80

    LTEXT           "01:",IDC_STATIC,16,230,12,8
    COMBOBOX        1300,30,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "02:",IDC_STATIC,16,244,12,8
    COMBOBOX        1301,30,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "03:",IDC_STATIC,16,258,12,8
    COMBOBOX        1302,30,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "04:",IDC_STATIC,16,272,12,8
    COMBOBOX        1303,30,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "05:",IDC_STATIC,72,230,12,8
    COMBOBOX        1304,86,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "06:",IDC_STATIC,72,244,12,8
    COMBOBOX        1305,86,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "07:",IDC_STATIC,72,258,12,8
    COMBOBOX        1306,86,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "08:",IDC_STATIC,72,272,12,8
    COMBOBOX        1307,86,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "09:",IDC_STATIC,128,230,12,8
    COMBOBOX        1308,142,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "10:",IDC_STATIC,128,244,12,8
    COMBOBOX        1309,142,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "11:",IDC_STATIC,128,258,12,8
    COMBOBOX        1310,142,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "12:",IDC_STATIC,128,272,12,8
    COMBOBOX        1311,142,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "13:",IDC_STATIC,184,230,12,8
    COMBOBOX        1312,198,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "14:",IDC_STATIC,184,244,12,8
    COMBOBOX        1313,198,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "15:",IDC_STATIC,184,258,12,8
    COMBOBOX        1314,198,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "16:",IDC_STATIC,184,272,12,8
    COMBOBOX        1315,198,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "All 배수:",IDC_STATIC,250,230,32,8
    COMBOBOX        1316,286,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "일괄적용",1401,322,228,50,14
    PUSHBUTTON      "배수 설정",IDC_BTN_SEND_MUL,250,248,70,14

    // === 장비값: ON TIME (페이지별, 읽기전용) ===
    GROUPBOX        "장비 ON TIME (페이지별)",IDC_STATIC,432,38,311,168

    LTEXT           "CH",IDC_STATIC,442,52,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,457,52,42,8
    RTEXT           "01",IDC_STATIC,440,64,10,8
    RTEXT           "---",1500,455,64,35,8
    RTEXT           "02",IDC_STATIC,440,76,10,8
    RTEXT           "---",1501,455,76,35,8
    RTEXT           "03",IDC_STATIC,440,88,10,8
    RTEXT           "---",1502,455,88,35,8
    RTEXT           "04",IDC_STATIC,440,100,10,8
    RTEXT           "---",1503,455,100,35,8
    RTEXT           "05",IDC_STATIC,440,112,10,8
    RTEXT           "---",1504,455,112,35,8
    RTEXT           "06",IDC_STATIC,440,124,10,8
    RTEXT           "---",1505,455,124,35,8
    RTEXT           "07",IDC_STATIC,440,136,10,8
    RTEXT           "---",1506,455,136,35,8
    RTEXT           "08",IDC_STATIC,440,148,10,8
    RTEXT           "---",1507,455,148,35,8

    LTEXT           "CH",IDC_STATIC,520,52,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,535,52,42,8
    RTEXT           "09",IDC_STATIC,518,64,10,8
    RTEXT           "---",1508,533,64,35,8
    RTEXT           "10",IDC_STATIC,518,76,10,8
    RTEXT           "---",1509,533,76,35,8
    RTEXT           "11",IDC_STATIC,518,88,10,8
    RTEXT           "---",1510,533,88,35,8
    RTEXT           "12",IDC_STATIC,518,100,10,8
    RTEXT           "---",1511,533,100,35,8
    RTEXT           "13",IDC_STATIC,518,112,10,8
    RTEXT           "---",1512,533,112,35,8
    RTEXT           "14",IDC_STATIC,518,124,10,8
    RTEXT           "---",1513,533,124,35,8
    RTEXT           "15",IDC_STATIC,518,136,10,8
    RTEXT           "---",1514,533,136,35,8
    RTEXT           "16",IDC_STATIC,518,148,10,8
    RTEXT           "---",1515,533,148,35,8

    LTEXT           "Max Page:",IDC_STATIC,590,64,38,8
    RTEXT           "--",IDC_STC_DEV_MAXPAGE,632,64,20,8
    LTEXT           "Cur Page:",IDC_STATIC,590,78,35,8
    RTEXT           "--",IDC_STC_DEV_CURPAGE,632,78,20,8
    LTEXT           "조회 Page:",IDC_STC_DEV_PAGE_LABEL,590,96,40,8
    EDITTEXT        IDC_EDT_DEV_PAGE,635,94,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_DEV_PAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,645,94,11,14
    PUSHBUTTON      "읽기",IDC_BTN_DEV_READ_PAGE,660,94,35,14

    // === 장비값: 채널별 배수 (전 페이지 공통, 읽기전용) ===
    GROUPBOX        "장비 배수 (전 페이지 공통)",IDC_STATIC,432,208,311,70

    LTEXT           "01:",IDC_STATIC,442,220,12,8
    RTEXT           "-",1520,456,220,10,8
    LTEXT           "02:",IDC_STATIC,442,230,12,8
    RTEXT           "-",1521,456,230,10,8
    LTEXT           "03:",IDC_STATIC,442,240,12,8
    RTEXT           "-",1522,456,240,10,8
    LTEXT           "04:",IDC_STATIC,442,250,12,8
    RTEXT           "-",1523,456,250,10,8

    LTEXT           "05:",IDC_STATIC,482,220,12,8
    RTEXT           "-",1524,496,220,10,8
    LTEXT           "06:",IDC_STATIC,482,230,12,8
    RTEXT           "-",1525,496,230,10,8
    LTEXT           "07:",IDC_STATIC,482,240,12,8
    RTEXT           "-",1526,496,240,10,8
    LTEXT           "08:",IDC_STATIC,482,250,12,8
    RTEXT           "-",1527,496,250,10,8

    LTEXT           "09:",IDC_STATIC,522,220,12,8
    RTEXT           "-",1528,536,220,10,8
    LTEXT           "10:",IDC_STATIC,522,230,12,8
    RTEXT           "-",1529,536,230,10,8
    LTEXT           "11:",IDC_STATIC,522,240,12,8
    RTEXT           "-",1530,536,240,10,8
    LTEXT           "12:",IDC_STATIC,522,250,12,8
    RTEXT           "-",1531,536,250,10,8

    LTEXT           "13:",IDC_STATIC,562,220,12,8
    RTEXT           "-",1532,576,220,10,8
    LTEXT           "14:",IDC_STATIC,562,230,12,8
    RTEXT           "-",1533,576,230,10,8
    LTEXT           "15:",IDC_STATIC,562,240,12,8
    RTEXT           "-",1534,576,240,10,8
    LTEXT           "16:",IDC_STATIC,562,250,12,8
    RTEXT           "-",1535,576,250,10,8

    // === 순차 페이지 제어 ===
    GROUPBOX        "순차 페이지 제어",IDC_STATIC,7,303,420,55
    PUSHBUTTON      "트리거",IDC_BTN_TRIGGER,15,316,38,14
    PUSHBUTTON      "리셋",IDC_BTN_RESET,58,316,30,14
    PUSHBUTTON      "현재페이지",IDC_BTN_GET_PAGE,93,316,55,14
    LTEXT           "시작Page:",IDC_STATIC,155,318,38,8
    EDITTEXT        IDC_EDT_START_PAGE,198,316,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_START_PAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,208,316,11,14
    PUSHBUTTON      "설정",IDC_BTN_SET_START_PAGE,226,316,25,14
    CONTROL         "HOLD",IDC_CHK_HOLD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,258,318,35,10
    PUSHBUTTON      "설정",1135,298,316,25,14
    CONTROL         "Section",IDC_CHK_SECTION,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,339,40,10
    LTEXT           "시작:",IDC_STATIC,60,341,18,8
    EDITTEXT        IDC_EDT_SECTION_START,80,339,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_SECTION_START,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,90,339,11,14
    LTEXT           "끝:",IDC_STATIC,108,341,12,8
    EDITTEXT        IDC_EDT_SECTION_END,122,339,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_SECTION_END,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,132,339,11,14
    PUSHBUTTON      "설정",IDC_BTN_SET_SECTION,150,339,25,14

    // === 트리거 Skip ===
    GROUPBOX        "트리거 Skip",IDC_STATIC,432,303,311,55
    CONTROL         "Skip",IDC_CHK_SKIP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,442,318,30,10
    LTEXT           "Time:",IDC_STATIC,480,318,22,8
    EDITTEXT        IDC_EDT_SKIP_TIME,505,316,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_SKIP_TIME,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,525,316,11,14
    LTEXT           "ms",IDC_STATIC,543,318,10,8
    PUSHBUTTON      "설정",IDC_BTN_SET_SKIP,560,316,30,14

    // === 통신 로그 ===
    GROUPBOX        "통신 로그",IDC_STATIC,7,362,736,128
    EDITTEXT        IDC_EDT_LOG,15,374,720,100,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
    PUSHBUTTON      "지우기",IDC_BTN_CLEAR_LOG,690,476,45,12

    LTEXT           "미연결",IDC_STC_STATUSBAR,7,495,736,10,SS_SUNKEN
END

#endif

#ifndef APSTUDIO_INVOKED
#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#include "res\LightController.rc2"
#include "afxres.rc"
#endif
#endif
