// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#ifndef APSTUDIO_INVOKED
#include "targetver.h"
#endif
#include "afxres.h"
#include "verrsrc.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(65001)

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END
2 TEXTINCLUDE
BEGIN
    "#ifndef APSTUDIO_INVOKED\r\n"
    "#include ""targetver.h""\r\n"
    "#endif\r\n"
    "#include ""afxres.h""\r\n"
    "#include ""verrsrc.h""\r\n"
    "\0"
END
3 TEXTINCLUDE
BEGIN
    "#define _AFX_NO_SPLITTER_RESOURCES\r\n"
    "#define _AFX_NO_OLE_RESOURCES\r\n"
    "#define _AFX_NO_TRACKER_RESOURCES\r\n"
    "#define _AFX_NO_PROPERTY_RESOURCES\r\n"
    "\r\n"
    "#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)\r\n"
    "LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT\r\n"
    "#pragma code_page(65001)\r\n"
    "#include ""res\\LightController.rc2""\r\n"
    "#include ""afxres.rc""\r\n"
    "#endif\r\n"
    "\0"
END
#endif

IDR_MAINFRAME           ICON                    "res\\LightController.ico"

IDD_LIGHTCONTROLLER_DIALOG DIALOGEX 0, 0, 760, 530
STYLE DS_SETFONT | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "IMS-DS-16 조명 컨트롤러"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    // ================================================================
    // 시리얼 포트
    // ================================================================
    GROUPBOX        "시리얼 포트",IDC_STATIC,7,4,746,30
    LTEXT           "COM:",IDC_STATIC,15,17,18,8
    COMBOBOX        IDC_CMB_PORT,35,15,65,200,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "연결",IDC_BTN_CONNECT,108,14,35,14
    PUSHBUTTON      "해제",IDC_BTN_DISCONNECT,148,14,35,14
    PUSHBUTTON      "검색",IDC_BTN_REFRESH_PORT,188,14,35,14
    PUSHBUTTON      "자동찾기",IDC_BTN_AUTO_FIND,228,14,40,14
    LTEXT           "미연결",IDC_STC_STATUS,278,17,200,8

    // ================================================================
    // 왼쪽: 제어 영역
    // ================================================================

    // === ON TIME 설정 (페이지별) ===
    GROUPBOX        "ON TIME 설정 (페이지별)",IDC_STATIC,7,38,370,178
    CONTROL         "DS-16 확장",IDC_RADIO_DS16,"Button",BS_AUTORADIOBUTTON | WS_GROUP,15,51,55,10
    CONTROL         "LS-12 호환",IDC_RADIO_LS12,"Button",BS_AUTORADIOBUTTON,75,51,55,10
    LTEXT           "Max Page:",IDC_STATIC,145,53,38,8
    EDITTEXT        IDC_EDT_MAXPAGE,185,50,25,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_MAXPAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,200,50,11,14
    LTEXT           "Page:",IDC_STATIC,225,53,22,8
    EDITTEXT        IDC_EDT_CURPAGE,250,50,25,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_CURPAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,265,50,11,14
    LTEXT           "반복:",IDC_STATIC,295,53,22,8
    EDITTEXT        IDC_EDT_REPEAT,320,50,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_REPEAT,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,330,50,11,14

    LTEXT           "CH",IDC_STATIC,18,66,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,38,66,42,8
    LTEXT           "CH",IDC_STATIC,118,66,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,138,66,42,8

    RTEXT           "01",IDC_STATIC,15,79,10,8
    EDITTEXT        1100,30,77,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1200,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,77,11,13
    RTEXT           "02",IDC_STATIC,15,94,10,8
    EDITTEXT        1101,30,92,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1201,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,92,11,13
    RTEXT           "03",IDC_STATIC,15,109,10,8
    EDITTEXT        1102,30,107,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1202,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,107,11,13
    RTEXT           "04",IDC_STATIC,15,124,10,8
    EDITTEXT        1103,30,122,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1203,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,122,11,13
    RTEXT           "05",IDC_STATIC,15,139,10,8
    EDITTEXT        1104,30,137,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1204,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,137,11,13
    RTEXT           "06",IDC_STATIC,15,154,10,8
    EDITTEXT        1105,30,152,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1205,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,152,11,13
    RTEXT           "07",IDC_STATIC,15,169,10,8
    EDITTEXT        1106,30,167,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1206,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,167,11,13
    RTEXT           "08",IDC_STATIC,15,184,10,8
    EDITTEXT        1107,30,182,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1207,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,70,182,11,13

    RTEXT           "09",IDC_STATIC,115,79,10,8
    EDITTEXT        1108,130,77,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1208,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,77,11,13
    RTEXT           "10",IDC_STATIC,115,94,10,8
    EDITTEXT        1109,130,92,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1209,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,92,11,13
    RTEXT           "11",IDC_STATIC,115,109,10,8
    EDITTEXT        1110,130,107,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1210,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,107,11,13
    RTEXT           "12",IDC_STATIC,115,124,10,8
    EDITTEXT        1111,130,122,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1211,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,122,11,13
    RTEXT           "13",IDC_STATIC,115,139,10,8
    EDITTEXT        1112,130,137,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1212,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,137,11,13
    RTEXT           "14",IDC_STATIC,115,154,10,8
    EDITTEXT        1113,130,152,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1213,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,152,11,13
    RTEXT           "15",IDC_STATIC,115,169,10,8
    EDITTEXT        1114,130,167,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1214,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,167,11,13
    RTEXT           "16",IDC_STATIC,115,184,10,8
    EDITTEXT        1115,130,182,50,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",1215,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,170,182,11,13

    LTEXT           "All ON TIME:",IDC_STATIC,210,79,44,8
    EDITTEXT        1116,258,77,45,13,ES_AUTOHSCROLL | ES_NUMBER
    PUSHBUTTON      "일괄적용",1400,310,77,50,14

    PUSHBUTTON      "전체 전송",IDC_BTN_SEND_ALL,15,198,70,14
    PUSHBUTTON      "데이터 저장",IDC_BTN_SAVE_DATA,90,198,70,14

    // === 배수 설정 (전 페이지 공통) ===
    GROUPBOX        "배수 설정 (전 페이지 공통)",IDC_STATIC,7,218,370,75

    LTEXT           "01:",IDC_STATIC,16,230,12,8
    COMBOBOX        1300,30,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "02:",IDC_STATIC,16,244,12,8
    COMBOBOX        1301,30,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "03:",IDC_STATIC,16,258,12,8
    COMBOBOX        1302,30,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "04:",IDC_STATIC,16,272,12,8
    COMBOBOX        1303,30,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "05:",IDC_STATIC,72,230,12,8
    COMBOBOX        1304,86,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "06:",IDC_STATIC,72,244,12,8
    COMBOBOX        1305,86,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "07:",IDC_STATIC,72,258,12,8
    COMBOBOX        1306,86,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "08:",IDC_STATIC,72,272,12,8
    COMBOBOX        1307,86,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "09:",IDC_STATIC,128,230,12,8
    COMBOBOX        1308,142,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "10:",IDC_STATIC,128,244,12,8
    COMBOBOX        1309,142,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "11:",IDC_STATIC,128,258,12,8
    COMBOBOX        1310,142,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "12:",IDC_STATIC,128,272,12,8
    COMBOBOX        1311,142,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "13:",IDC_STATIC,184,230,12,8
    COMBOBOX        1312,198,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "14:",IDC_STATIC,184,244,12,8
    COMBOBOX        1313,198,242,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "15:",IDC_STATIC,184,258,12,8
    COMBOBOX        1314,198,256,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "16:",IDC_STATIC,184,272,12,8
    COMBOBOX        1315,198,270,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "All 배수:",IDC_STATIC,250,230,32,8
    COMBOBOX        1316,286,228,30,80,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "일괄적용",1401,322,228,50,14
    PUSHBUTTON      "배수 설정",IDC_BTN_SEND_MUL,250,248,70,14

    // ================================================================
    // 오른쪽: 장비 정보 영역
    // ================================================================

    // === 조회 가능: ON TIME (페이지별) ===
    GROUPBOX        "장비 ON TIME (페이지별)",IDC_STATIC,382,38,371,168

    LTEXT           "CH",IDC_STATIC,392,52,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,407,52,42,8
    RTEXT           "01",IDC_STATIC,390,64,10,8
    RTEXT           "---",1500,405,64,35,8
    RTEXT           "02",IDC_STATIC,390,76,10,8
    RTEXT           "---",1501,405,76,35,8
    RTEXT           "03",IDC_STATIC,390,88,10,8
    RTEXT           "---",1502,405,88,35,8
    RTEXT           "04",IDC_STATIC,390,100,10,8
    RTEXT           "---",1503,405,100,35,8
    RTEXT           "05",IDC_STATIC,390,112,10,8
    RTEXT           "---",1504,405,112,35,8
    RTEXT           "06",IDC_STATIC,390,124,10,8
    RTEXT           "---",1505,405,124,35,8
    RTEXT           "07",IDC_STATIC,390,136,10,8
    RTEXT           "---",1506,405,136,35,8
    RTEXT           "08",IDC_STATIC,390,148,10,8
    RTEXT           "---",1507,405,148,35,8

    LTEXT           "CH",IDC_STATIC,465,52,12,8
    LTEXT           "ON TIME(us)",IDC_STATIC,480,52,42,8
    RTEXT           "09",IDC_STATIC,463,64,10,8
    RTEXT           "---",1508,478,64,35,8
    RTEXT           "10",IDC_STATIC,463,76,10,8
    RTEXT           "---",1509,478,76,35,8
    RTEXT           "11",IDC_STATIC,463,88,10,8
    RTEXT           "---",1510,478,88,35,8
    RTEXT           "12",IDC_STATIC,463,100,10,8
    RTEXT           "---",1511,478,100,35,8
    RTEXT           "13",IDC_STATIC,463,112,10,8
    RTEXT           "---",1512,478,112,35,8
    RTEXT           "14",IDC_STATIC,463,124,10,8
    RTEXT           "---",1513,478,124,35,8
    RTEXT           "15",IDC_STATIC,463,136,10,8
    RTEXT           "---",1514,478,136,35,8
    RTEXT           "16",IDC_STATIC,463,148,10,8
    RTEXT           "---",1515,478,148,35,8

    LTEXT           "Cur Page:",IDC_STATIC,540,52,35,8
    RTEXT           "--",IDC_STC_DEV_CURPAGE,580,52,20,8

    LTEXT           "조회 Page:",IDC_STC_DEV_PAGE_LABEL,540,68,40,8
    EDITTEXT        IDC_EDT_DEV_PAGE,585,66,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_DEV_PAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,595,66,11,14
    PUSHBUTTON      "읽기",IDC_BTN_DEV_READ_PAGE,612,66,35,14

    // === 조회 가능: 채널별 배수 ===
    GROUPBOX        "장비 배수 (전 페이지 공통)",IDC_STATIC,382,208,371,60

    LTEXT           "01:",IDC_STATIC,392,222,12,8
    RTEXT           "-",1520,406,222,12,8
    LTEXT           "02:",IDC_STATIC,392,234,12,8
    RTEXT           "-",1521,406,234,12,8
    LTEXT           "03:",IDC_STATIC,392,246,12,8
    RTEXT           "-",1522,406,246,12,8
    LTEXT           "04:",IDC_STATIC,392,258,12,8
    RTEXT           "-",1523,406,258,12,8

    LTEXT           "05:",IDC_STATIC,430,222,12,8
    RTEXT           "-",1524,444,222,12,8
    LTEXT           "06:",IDC_STATIC,430,234,12,8
    RTEXT           "-",1525,444,234,12,8
    LTEXT           "07:",IDC_STATIC,430,246,12,8
    RTEXT           "-",1526,444,246,12,8
    LTEXT           "08:",IDC_STATIC,430,258,12,8
    RTEXT           "-",1527,444,258,12,8

    LTEXT           "09:",IDC_STATIC,468,222,12,8
    RTEXT           "-",1528,482,222,12,8
    LTEXT           "10:",IDC_STATIC,468,234,12,8
    RTEXT           "-",1529,482,234,12,8
    LTEXT           "11:",IDC_STATIC,468,246,12,8
    RTEXT           "-",1530,482,246,12,8
    LTEXT           "12:",IDC_STATIC,468,258,12,8
    RTEXT           "-",1531,482,258,12,8

    LTEXT           "13:",IDC_STATIC,506,222,12,8
    RTEXT           "-",1532,520,222,12,8
    LTEXT           "14:",IDC_STATIC,506,234,12,8
    RTEXT           "-",1533,520,234,12,8
    LTEXT           "15:",IDC_STATIC,506,246,12,8
    RTEXT           "-",1534,520,246,12,8
    LTEXT           "16:",IDC_STATIC,506,258,12,8
    RTEXT           "-",1535,520,258,12,8

    // === 조회 불가: 마지막 전송값 ===
    GROUPBOX        "설정 상태 (마지막 전송값)",IDC_STATIC,382,272,371,110

    LTEXT           "Max Page:",IDC_STATIC,392,286,38,8
    RTEXT           "--",IDC_STC_NQ_MAXPAGE,435,286,25,8
    LTEXT           "시작 Page:",IDC_STATIC,392,298,40,8
    RTEXT           "--",IDC_STC_NQ_START_PAGE,435,298,25,8
    LTEXT           "HOLD:",IDC_STATIC,392,310,22,8
    RTEXT           "--",IDC_STC_NQ_HOLD,435,310,25,8

    LTEXT           "Section:",IDC_STATIC,490,286,30,8
    RTEXT           "--",IDC_STC_NQ_SECTION,525,286,25,8
    LTEXT           "범위:",IDC_STATIC,490,298,20,8
    RTEXT           "-- ~ --",IDC_STC_NQ_SECTION_RANGE,515,298,40,8

    LTEXT           "Skip:",IDC_STATIC,590,286,20,8
    RTEXT           "--",IDC_STC_NQ_SKIP,615,286,25,8
    LTEXT           "Skip Time:",IDC_STATIC,590,298,38,8
    RTEXT           "-- ms",IDC_STC_NQ_SKIP_TIME,632,298,30,8

    // === 순차 페이지 제어 ===
    GROUPBOX        "순차 페이지 제어",IDC_STATIC,7,296,370,55
    PUSHBUTTON      "트리거",IDC_BTN_TRIGGER,15,309,38,14
    PUSHBUTTON      "리셋",IDC_BTN_RESET,58,309,30,14
    PUSHBUTTON      "현재페이지",IDC_BTN_GET_PAGE,93,309,55,14
    LTEXT           "시작Page:",IDC_STATIC,155,311,38,8
    EDITTEXT        IDC_EDT_START_PAGE,198,309,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_START_PAGE,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,208,309,11,14
    PUSHBUTTON      "설정",IDC_BTN_SET_START_PAGE,226,309,25,14
    CONTROL         "HOLD",IDC_CHK_HOLD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,258,311,35,10
    PUSHBUTTON      "설정",1135,298,309,25,14
    CONTROL         "Section",IDC_CHK_SECTION,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,332,40,10
    LTEXT           "시작:",IDC_STATIC,60,334,18,8
    EDITTEXT        IDC_EDT_SECTION_START,80,332,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_SECTION_START,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,90,332,11,14
    LTEXT           "끝:",IDC_STATIC,108,334,12,8
    EDITTEXT        IDC_EDT_SECTION_END,122,332,20,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_SECTION_END,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,132,332,11,14
    PUSHBUTTON      "설정",IDC_BTN_SET_SECTION,150,332,25,14

    // === 트리거 Skip ===
    GROUPBOX        "트리거 Skip",IDC_STATIC,7,354,370,28
    CONTROL         "Skip",IDC_CHK_SKIP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,365,30,10
    LTEXT           "Time:",IDC_STATIC,50,365,22,8
    EDITTEXT        IDC_EDT_SKIP_TIME,75,363,30,14,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "",IDC_SPIN_SKIP_TIME,"msctls_updown32",UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS,95,363,11,14
    LTEXT           "ms",IDC_STATIC,113,365,10,8
    PUSHBUTTON      "설정",IDC_BTN_SET_SKIP,130,363,30,14

    // ================================================================
    // 하단: 통신 로그 + 상태바
    // ================================================================
    GROUPBOX        "통신 로그",IDC_STATIC,7,386,746,120
    EDITTEXT        IDC_EDT_LOG,15,398,730,93,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
    PUSHBUTTON      "지우기",IDC_BTN_CLEAR_LOG,700,493,45,12

    LTEXT           "미연결",IDC_STC_STATUSBAR,7,512,746,10,SS_SUNKEN
END

#endif

#ifndef APSTUDIO_INVOKED
#define _AFX_NO_SPLITTER_RESOURCES
#define _AFX_NO_OLE_RESOURCES
#define _AFX_NO_TRACKER_RESOURCES
#define _AFX_NO_PROPERTY_RESOURCES

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_KOR)
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#include "res\LightController.rc2"
#include "afxres.rc"
#endif
#endif
